
Action: file_editor create /tmp/enhanced-zero-hunger/Templates/map.html --file-text "<!DOCTYPE html>
<html>
<head>

<link rel=\"stylesheet\" href=\"/static/style.css\">

</head>

<body>

<div class=\"card\">

<h2>📍 Food Location</h2>

<iframe

width=\"100%\"
height=\"400\"

src=\"https://www.google.com/maps?q={{location}}&output=embed\">

</iframe>

<br>

<a href=\"/ngos\" class=\"btn\">Back to Donations</a>

<a href=\"/\" class=\"btn\">Back Home</a>

</div>

</body>
</html>
"
Observation: Create successful: /tmp/enhanced-zero-hunger/Templates/map.html